# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Generated data
cache/
results/
config/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Environment
.env
.venv
env/
venv/
ENV/

# OS specific files
.DS_Store
Thumbs.db

# Models
models/paraphrase-albert-small-v2/models--sentence-transformers--paraphrase-albert-small-v2/snapshots
